@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background-color: white;
    background-size: cover;
    background-position: center;
    scroll-behavior: smooth;
    backdrop-filter: blur(2.5px);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: left;
    z-index: 100;
    height: 85px;
    background: hsla(218, 70%, 18%, 1);
    background: linear-gradient(0deg, hsla(218, 70%, 18%, 1) 0%, hsla(198, 61%, 43%, 1) 98%);
    background: -moz-linear-gradient(0deg, hsla(218, 70%, 18%, 1) 0%, hsla(198, 61%, 43%, 1) 98%);
    background: -webkit-linear-gradient(0deg, hsla(218, 70%, 18%, 1) 0%, hsla(198, 61%, 43%, 1) 98%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#0E264E", endColorstr="#2A87B0", GradientType=1);
}

.logo img {
    width: 200px;
    height: auto;
    margin-top: -40%;
    margin-left: -40%;
    color: white;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-decoration: none;  /* Remove underline */
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.container {
    padding: 0 16px;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: rgb(0, 0, 0);
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    text-decoration: none;  /* Remove underline */
}

.button:hover {
    background: hsla(218, 70%, 18%, 1);
    background: linear-gradient(0deg, hsla(218, 70%, 18%, 1) 0%, hsla(198, 61%, 43%, 1) 98%);
    background: -moz-linear-gradient(0deg, hsla(218, 70%, 18%, 1) 0%, hsla(198, 61%, 43%, 1) 98%);
    background: -webkit-linear-gradient(0deg, hsla(218, 70%, 18%, 1) 0%, hsla(198, 61%, 43%, 1) 98%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#0E264E", endColorstr="#2A87B0", GradientType=1);
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

h2 {
    text-align: center;
    color: black;
    font-size: 45px;
    margin-top: 45px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10px;
}

.show {
    display: flex !important;
}
